body {
    
    background: white;
    
    
}

.container {
    display: grid;
    height: 100vh;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.gmail{
    
}

.images {
    
}

.apps {
    
}
.sign-in {
    
}
.sign-in a {
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #4584ec;
    border-radius: 5%;
}

.google-logo {
    grid-column-start: 1;
    grid-column-end: span;
    
}

.search-box {
    width: 600px;
    justify-content: center;
    padding-left: 20px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 40px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    
}

footer{
    grid-column-start: 1;
    grid-column-end: 5;
}

.web-search {
    
    padding-left: 10px;
    font-size: 14px;
    width: 500px;
    height: 35px;
    border: 0;
    background-color:transparent;
}

    
.searchIcon {
    margin-left: 10px;
}