body {
    padding: 0;
    margin: 0;
    background-color: gainsboro;
}

.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2fr 2fr 5fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "header header header"
    "sidebar main aside"
    "sidebar footer footer";
}



.sign-in a {
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #4584ec;
    border-radius: 5%;
}

.google-logo {
    position: relative;
}

img {
    display: block;
    padding-top: 15vh;
    margin-left: auto;
    margin-right: auto;
}
.search-box {
    width: 600px;
    
    justify-content: center;
    padding-left: 20px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

.web-search {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 14px;
    width: 500px;
    height: 35px;
    border: 0;
    background-color:transparent;
}
/*.web-search {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 45px;
    border: solid white 1px;
    border-radius: 30px;
    padding-left: 60px;
    font-size: 14px;
}
*/
    
.searchIcon {
    margin-left: 10px;
}